.search-bar {
  margin: 8px 0;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 5px 20px;
}

.search-bar input {
  background: transparent;
  font-size: 16px !important;
  color: #dedede;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
}

.search-bar button {
  color: #f7f7f7;
  height: 50px;
  width: 50px;
  background: #58629b;
  cursor: pointer;
}