<form [formGroup]="searchForm" class="search-bar" (submit)="searchArtist()">
  <input matInput type="text" placeholder="Search your favorite artist" [(ngModel)]="searchTerm"
    formControlName="searchTerm" autocomplete="off">
  <button mat-icon-button type="submit">
    <mat-icon>search</mat-icon>
  </button>
</form>