<!-- Todo add to shared folder -->
<div fxLayout="row" style="background: #3f51b5; padding-left: 5%">
  <div fxFlex="20" id="logo">
    <h1 style="color: #f7f7f7; cursor: pointer;" (click)="goBackHome()">Musify</h1>
  </div>
  <div fxFlex="60">
  </div>
  <div fxFlex="20"></div>
</div>

<div class="container" *ngIf="artist">
  <div class="header">
    <div class="header-inner">
      <!-- image -->
      <div class="artist-image">
        <img [src]="artist.picture_big">
      </div>
      <!-- details -->
      <div class="artist-details">
        <h1>{{artist.name}}</h1>
        <p>{{artist.nb_fan | compactNumber}} Fans</p>
      </div>

      <div class="artist-tracks">
        <h2 style="margin-bottom: 0">Top Tracks</h2>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let track of trackList; let index = index">
            {{index+1}}. {{track.title}}
            <span> - {{(track.duration/60).toFixed(2)}}</span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>

  <div class="albums">
    <mat-tab-group>
      <mat-tab label="Albums">
        <div class="list-container" fxLayout="row wrap" fxLayoutGap="20px" fxLayout.xs="column"
          fxLayoutAlign="space-around center">
          <div fxFlex="20" *ngFor="let album of artistAlbums">
            <mat-card class="example-card">
              <img mat-card-image [src]="album.cover">
              <mat-card-content>
                <p>{{album.title}}</p>
                <p>{{album.release_date | date:'YYY'}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>