.header {}

#logo {
  align-self: center;
}

.header-inner {
  display: flex;
}

.artist-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.artist-image img {
  width: inherit;
  border-radius: 50%;
}

.artist-details {
  flex: 1;
  margin-left: 2em;
  align-self: center;
}

.artist-tracks {
  flex: 2;
  max-height: 300px;
  overflow-y: scroll;
}

.albums {
  margin-top: 20px;
}