<app-navigation (listOfSearch)="searchedArtists($event)" (searching)="searching=$event"></app-navigation>

<mat-progress-bar *ngIf="searching" mode="query" style="margin-top: 1px;"></mat-progress-bar>

<div class="container">
  <div class="list-container" fxLayout="row wrap" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutAlign="start center"
    *ngIf="listOfSearch && listOfSearch.length > 0; else elseBlock">

    <div fxFlex="20" *ngFor="let artist of listOfSearch" routerLink="/details/{{artist.artist.id}}">
      <mat-card class="example-card">
        <img mat-card-image [src]="artist.artist.picture">
        <mat-card-content>
          <p>{{artist.artist.name}}</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <ng-template #elseBlock>
    <p>Please search your favorite artist</p>
  </ng-template>
</div>