<div fxLayout="row" style="background: #3f51b5;padding-left: 5%">
  <div fxFlex="20" id="logo">
    <h1 style="color: #f7f7f7; cursor: pointer;" routerLink="/">Musify</h1>
  </div>
  <div fxFlex="60">
    <app-search (listOfSearch)="listOfSearch.emit($event)" (searching)="searching.emit($event)"></app-search>
  </div>
  <div fxFlex="20"></div>
</div>